pandas
scikit-learn
numpy
tensorflow
keras
matplotlib
streamlit
streamlit-drawable-canvas

# spaCy and model (using direct link is correct)
# spacy[en_core_web_sm]==3.7.4 comment this as it is causing the build to fail
