pandas
scikit-learn
numpy
streamlit
tensorflow
keras
matplotlib
streamlit-drawable-canvas # Required for the drawing feature in the MNIST app
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
